<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Analisador CSV</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="cabeçalho">
  <div class="conteudo-cabeçalho">
    <span class="titulo"><strong>Analista de dados</strong></span>
	<span class="subtitulo"><p>Transformando CSV em insights valiosos com pyhton</p></span>
  </div>
</header>
<main class="principal">
  <section class="form">
    <div class="input">
      <form action="/" enctype="multipart/form-data" method="post">
        <label for="csv" class="uploader" name="arquivo">
          <i class="fa-solid fa-cloud"></i><span>Arraste ou Carregue seu CSV</span>
        </label>
        <input type="file" id="csv" name="csv" required>
        <input type="submit" class="envio" value="Analisar Dados">
      </form> 
    </div>
  </section>
  <section class="resultado">
  <div>
    {% if resultado_pandas != None %}
       <h2>Prévia dos Dados (Primeiras 5 linhas):</h2>
       <div class="tabela-container">
        {{head_pandas | safe}}
       </div>
       <h2>Resumo Estatístico dos Dados:</h2>
       <div class="tabela-container">
         {{ resultado_pandas | safe }}
       </div>
       <h2>Estrutura Geral do Arquivo:</h2>
       <div class="tabela-container">
        {{info_pandas | safe}}
       </div>
    {% else %}
      <p>Seu resultado aparecerá aqui</p>
    {% endif %}
  </div>
</section>
</main>
<script>
  document.getElementById('csv').onchange = function() {
    const arquivoNome = this.files[0].name
    document.querySelector('.uploader span').innerText = (`Arquivo ${arquivoNome}`)
    document.querySelector('.uploader').style.borderColor = ("#28a745")
    document.querySelector('.uploader').style.background = ("#e8f5e9")
    document.querySelector('.uploader i').className = ("fa-solid fa-circle-check")
    document.querySelector('.uploader i').style.color = ("#28a745")
  }
</script>
</body>
</html>